# gedit backup file
*~

# texlipse
tmp
*.synctex.gz
.project
.texlipse
.metadata
raw
*.png

# Homework handouts and compiled pdf files
*.pdf

# Datasets
*.csv
airfoil_self_noise.dat
transfusion.data
spmats/
densemats/
exam.dat

# Notebook checkpoints/
*.ipynb_checkpoints/

# exam1 submission
*.p
training.py
testing.py

# project
project/datasets/
project/intermediate_files/
project/slides/document/figs/
*#
