# gedit backup file
*~

# texlipse
tmp
*.synctex.gz
.project
.texlipse
.metadata
raw
*.png

# Homework handouts and compiled pdf files
*.pdf

# Datasets
airfoil_self_noise.dat
transfusion.data
train_mat.csv
test_mat.csv

# Notebook checkpoints/
*.ipynb_checkpoints/
